@charset "UTF-8";

:root{
    --cor1: #9F2CBF;
    --cor2: #73168C;
    --cor3: #C04BF2;
    --cor4: #737373;
    --cor5: #262626;
    --cor6: #BFBFBF;
    --cor7: #A6A6A6;

    --gradient: linear-gradient(90deg, var(--cor2), var(--cor1), var(--cor3))
}


body{
    background: var(--gradient);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculadora{
    background: var(--cor5);
    width: 400px;
    height: 620px;
    border-radius: 10px;
}

.cabecalho{
    width: 80%;
    height: 100px;
    margin: 30px auto;
    background-color: var(--cor7);
    font-size: 40px;
}

table{
    width: 380px;
    height: 400px;
    margin: 10px;
}

button{
    border: none;
    background: var(--cor4);
    width: 100%;
    height: 80px;
    margin: 0;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}

button:hover{
    background: var(--cor7);
}